* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
    color: black;
}

h1 {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.inputs {
    display: flex;
    margin-bottom: 15px;
    justify-content: center;
}

input {
    margin-right: 5px;
    border-radius: 5px;
    border-width: 1px;
    padding: 4px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
}

table {
    display: flex;
    justify-content: center;
}

tbody {
    background: #ffc907;
}

.tableTop {
    text-transform: uppercase;
}

.tableTop, th {
    background: #ffc907;
    color: black;
    height: 50px;
    min-width: 200px;
}

#pavarde {
    background: #eab735;
}

tr {
    background: #40317a;
    color: white;
}

td {
    padding-left: 20px;
    height: 50px;
}